p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: blueviolet;
}
 .header{
   color: blue;
   display: flex;
   align-content: center;
 }
 .container{
   display: flex;
   align-items: center;
 }